
doctype html

html

    head

        title #{ name }'s Profile
        link( rel="stylesheet", type="text/css", href="/css/bootstrap.min.css" )
        link( rel="stylesheet", type="text/css", href="/css/styles.css" )

    body

        div( class="container" )

            div( class="jumbotron text-center" )

                div( class="text-center" )

                        img( src="#{ picture }", width="300", height="300", class="img-thumbnail" )

                h1 #{ name } #{ surname }

                p #{ bio }

                a( href="/settings/profile", title="Edit profile") Edit profile

                hr

                div

                    small &copy;2015 Alejandro Perez Martin

